body{
    font-family: 'Noto Sans JP', sans-serif;
}

header{
    line-height: 50px;
}

h1{
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    line-height: 50px;
}

#logo{
    vertical-align: middle;
    line-height: 50px;
}

/* webpage sizes */
.container{
    width: 1200px;
    height: 1000px;
    background-color:rgba(220, 220, 220, 0.5);
    padding-top: 30px;
}

.nav{
    box-sizing: border-box;
    width: 800px;
    background-color: white;
    margin: auto;
    padding-left: 60px;
    line-height: 20px;
}

main{
    box-sizing: border-box;
    width: 800px;
    background-color: white;
    margin: auto;
    margin-top: 1px;
    padding-top: 15px;
    padding-bottom: 30px;
}
/* /webpage sizes */


.bubble1{
    font-size: 10px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: inline-flex;
    border-radius: 8%;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.bubble2{
    font-size: 10px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: inline-flex;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

li{
    list-style-type: none;
    margin-bottom: 10px;
}

.selector{
    padding-left: 20px;
}

.title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* green check and red cross section */
.check{
    font-size: 10px;
    width: 25px;
    height: 25px;
    color: lightgreen;
    border: 1px solid lightgreen;
    border-radius: 50%;
}

.cross{
    font-size: 10px;
    width: 25px;
    height: 25px;
    color: red;
    border: 1px solid red;
    border-radius: 50%;   
}


/* text color and backgrounds bubbles */
.task{
    color: white;
    border: 1px solid royalblue;
    background-color: royalblue;
}

.section{
    color: lightgray;
    border: 1px solid grey;
}

.editorial{
    border: 1px solid royalblue;
    background-color: royalblue;
}

.q1goals{
    border: 1px solid darkorchid;
    background-color: darkorchid;
}

.recruiting{
    border: 1px solid mediumseagreen;
    background-color: mediumseagreen;  
}

.mobile{
    border: 1px solid darkorange;
    background-color: darkorange;
}

.website{
    border: 1px solid mediumvioletred;
    background-color: mediumvioletred;   
}

.sales{
    border: 1px solid yellowgreen;
    background-color: yellowgreen;    
}










